@page "/post/{PostName}"

<PageTitle>@((string)(this.post != null ? this.post.Title : "Post"))</PageTitle>

<div class="page-container">

    @if (isLoading)
    {
        <Loading />
    }
    else if (post is null)
    {
        <NotFound />
    }
    else
    {
        <h1 class="post-header">@post.Title</h1>

        <div class="post-meta">
            @if (post.Tags?.Length > 0)
            {
                <div class="post-meta__tags">
                    @foreach (var tag in post.Tags)
                    {
                        <Tag TagName="@tag" />
                    }
                </div>
            }
            <span class="post-meta__date">@post.CreatedAt</span>
            <span class="post-meta__date">@post.UpdatedAt</span>
        </div>

        @if (!string.IsNullOrWhiteSpace(post.Cover))
        {
            <div class="post-cover">
                <img src="@post.Cover" alt="Post image" class="post-cover__image" />
            </div>
        }

        <div class="markdown-content">
            @((MarkupString)post.Content)
        </div>

    }
</div>


@code {
    [Inject] IPostReader Reader { get; set; } = default!;
    [Inject] IJSRuntime JS { get; set; } = default!;
    [Parameter] public string PostName { get; set; } = null!;


    private bool isLoading = true;
    private Post? post;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        post = await Reader.Get(PostName);
        isLoading = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (post is not null && !string.IsNullOrEmpty(post.Content))
        {
            await JS.InvokeVoidAsync("Prism.highlightAll");
        }
    }
}
