@page "/post/{*PostPath}"

<PageTitle>@((string)(post?.Title ?? "Post"))</PageTitle>

<div class="page-container">
    @if (isLoading)
    {
        <Loading />
    }

    else if (post is null)
    {
        <NotFound />
    }
    else
    {
        <h1 class="post-header">@post.Title</h1>
        <div class="post-meta">
            <div class="post-meta__labels">
                @if (!string.IsNullOrWhiteSpace(post.Category))
                {
                    <Category Name="@post.Category" />
                }
                @if (post.Tags?.Length > 0)
                {
                    @foreach (var tag in post.Tags)
                    {
                        <Tag TagName="@tag" />
                    }
                }
            </div>
            @if (post.Date is not null)
            {
                <span class="post-meta__date">@post.Date.Value.ToString("MMM dd, yyyy")</span>
            }
        </div>
        @if (!string.IsNullOrWhiteSpace(post.Cover))
        {
            <div class="post-cover">

                <img src="@post.Cover" alt="Post image" class="post-cover__image" />

            </div>
        }
        @if (!string.IsNullOrWhiteSpace(post.Content))
        {
            <div class="markdown-content">
                @((MarkupString)post.Content)
            </div>
        }
    }
</div>


@code {

    [Inject] IPostReader Reader { get; set; } = default!;
    [Inject] IJSRuntime JS { get; set; } = default!;

    [Parameter] public string PostPath { get; set; } = "";

    private bool isLoading = true;
    private Post? post;

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrWhiteSpace(PostPath)) return;

        isLoading = true;
        post = await Reader.Get(PostPath.Trim('/'));
        isLoading = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (post is not null && !string.IsNullOrEmpty(post.Content))
        {
            await JS.InvokeVoidAsync("Prism.highlightAll");
        }
    }

}